/*==== LOGIN/CADASTRO ====*/

/*--Div esquerda--*/
.auth-left{
    background:var(--bege-principal);
    display:flex;
    justify-content:center;
    align-items:center;
}
.left-content{
    width:100%;
    text-align:center;
}

/*Logo*/
.auth-logo{
    width:320px;
    margin-bottom:30px;
}

/*Título*/
.titulo-esquerda{
    color:var(--azul-principal);
    font-weight:bold;
    font-size:30px;
    margin-bottom:20px;
}

/*--Div direita--*/
.auth-right{
    background:var(--azul-principal);
    display:flex;
    justify-content:center;
    align-items:center;
}

/*Card*/
.auth-card-login{
    width:500px;
    height:65%;
    margin:20px;
    background:var(--branco);
    padding:60px;
    border-radius:24px;
    box-shadow:var(--shadow-md);
}
.auth-card-cadastro{
    width:500px;
    height:90%;
    margin:20px;
    background:var(--branco);
    padding:60px;
    border-radius:24px;
    box-shadow:var(--shadow-md);
}
.auth-card h1{
    color:var(--azul-principal);
    text-align:center;
    font-size:55px;
    font-weight:700;
}
.auth-card p{
    color:var(--azul-principal);
    text-align:center;
}
.auth-card label{
    display:block;
    color:var(--azul-principal);
    font-weight:600;
    margin-bottom:10px;
}
.auth-link{
    color:var(--laranja-principal);
    text-decoration:none;
}
.auth-link:hover{
    text-decoration:underline;
}