/*==== VISUALIZAR ====*/


/* Botão de voltar */
.btn-voltar {
    color: var(--azul-principal);
    font-size: 23px;
    -webkit-text-stroke: 1px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px 4px;
    transition: var(--transition);
}

.btn-voltar:hover {
    background: rgba(165, 165, 165, 0.384);
    transform: translateX(1px);
}


/*==== CABEÇALHO ====*/
.header-visualizar {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 9px;
}


/* Título */
.visu-title {
    font-weight: bold;
    font-size: 23px;
    color: var(--azul-principal);
}


/*==== CARD ====*/
.visu-box {
    width: 100%;
    background: var(--branco);
    border-radius: 18px;
    padding: 23px;
    box-shadow: var(--shadow-sm);
}
.visu-box h5 {
    color: var(--azul-principal);
    font-weight: 700;
    margin-bottom: 22px;
    padding-bottom: 13px;
    border-bottom: 2px solid #ececec;
}


/*==== INFOS DO CARD ====*/
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
}
.info-item h6 {
    color: var(--laranja-principal);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
}
.info-item p {
    color: var(--azul-principal);
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}


/*==== COR DAS INFOS DO PRIMEIRO CARD ====*/
.label-info {
    color: var(--laranja-principal);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.label-info i {
    color: var(--laranja-principal);
    margin-right: 5px;
}

.value-info{
    font-size: 15px;
    color: var(--azul-principal);
    font-weight: 600;
}

/*==== NOME DO ALUNO / ESCOLA ====*/
.name {
    color: var(--azul-principal);
    font-size: 27px;
    font-weight: 700;
    margin: 0;
}


/*==== STATUS ====*/
.badge-status {
    background: #FFE7DE;
    color: var(--laranja-principal);
    font-weight: 600;
    padding: 7px 16px;
    border-radius: 30px;
}

/*==== FOTO ====*/
.foto {
    display: flex;
    align-items: center;
    gap: 36px;
    padding-left: 80px;
}

.foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--azul-principal);
}


/*==== VISUALIZAR TIMES ====*/

/* Botões do visu-box */
.btn-partida{
    background: var(--azul-principal);
    color: var(--branco);
    height: 46px;
    width: 100%;
    padding: 0 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--radius);
    font-weight: 600;
    transition: var(--transition);
}

.btn-partida:hover{
    background: var(--laranja-principal);
    color: var(--branco);
}

.btn-partida i{
    min-width: 15px;
    margin-right: 10px;
    color: var(--branco);
    font-size: 21px;
    text-align: center;
}

.btn-tecnico{
    background: var(--azul-principal);
    color: var(--branco);
    height: 46px;
    width: 100%;
    padding: 0 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--radius);
    font-weight: 600;
    transition: var(--transition);
}

.btn-tecnico:hover{
    background: var(--laranja-principal);
    color: var(--branco);
}

.btn-tecnico i{
    min-width: 15px;
    margin-right: 10px;
    color: var(--branco);
    font-size: 21px;
    text-align: center;
}

/* Integrantes */
.integrante-section {
    width: 100%;
    margin-top: 30px;
}

.section-title {
    margin-bottom: 20px;
    color: var(--azul-principal);
    font-size: 22px;
    font-weight: 600;
}

.integrante-card {
    width: 100%;
    background: var(--branco);
    border-radius: var(--radius);
    box-shadow: var(--shadow-sm);
    overflow: hidden;
    transition: var(--transition);
}

.integrante-card:hover {
    transform: translateY(-4px);
    box-shadow: var(--shadow-md);
}

.integrante-info {
    width: 100%;
    padding: 16px;

}

.integrante-info h4 {
    margin: 0 0 22px;
    padding-bottom: 13px;
    color: var(--azul-principal);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #ececec;
}

.integrante-info p{
    color: var(--azul-principal);
    font-size: 18px;
    font-weight: 600;
}
